@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray_00: #FFFFFF;
  --gray_50: #F2F4F5;
  --gray_900: #191C1F;
  --yellow_1: #EBC80C;
  --secondary_700: #1B6392;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  padding: 0;
  margin: 0;
}
section {
  display: block;
}

section > .content {
  max-width: 1200px;
  padding: .7rem 2rem;
  margin: 0 auto;
}

/* Header styles */

.promoBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 0;
  color: var(--gray_00);
}
.promoBar h1 {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.followBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 0;
  color: var(--gray_00);
  font-size: smaller;
}

.followBar div {
  display: flex;
}
